.heroBanner {
  padding: 25rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;

  background-image: url('https://factory-x.org/wp-content/uploads/f-x-key-visual_v3.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: white;
}
@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}